#p-welcome {
  font-size: 16px;
}

section#section-under-construction {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

section#section-under-construction img {
  margin: 8px;
  flex: 1 0 auto;
}

section#section-under-construction h6 {
  flex: 1 0 auto;
  display: inline-block;
  vertical-align: middle
}

section#section-search-engines {
  margin: auto;
  text-align: center;
  display: table
}

section#section-search-engines img {
  height: 96px;
  width: 96px;
  margin: 2px;
}

#div-searchengines h3 {
  display: table-row
}

#div-searchengines img {
  width: 144px;
  display: inline-block
}

#p-note {
  font-size: 14px;
}

img#img-einstein {
  width: 256px;
  margin: 0 auto;
  display: inline-block
}

#img-frontpage {
  height: auto;
  width: 160px
}

#div-email {
  
}
