* {
  margin: 0;
  padding: 0
}

html {
  font-family: Futura, Nunito, Roboto, Verdana, Helvetica
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 18px;
  color: #D7D7D7;
  background-color: #4F4F4F;
  cursor: default
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0F0F0F;
  padding: 8px
}

#img-the-pooper {
  display: inline-block;
}

header h1 {
  margin: auto;
  text-align: center;
  display: inline-block;
}

nav#nav-internal-links {
  padding: 24px;
  background: #3F3F3F;
}

nav#nav-internal-links ul {

}

nav#nav-internal-links li {
  margin: 2px;
  padding: 2px;
  width: 144px;
  color: #000000;
  background-color: #FFFF00;
  border-radius: 4px;
  display: inline-block
}

nav#nav-internal-links a:link,
nav#nav-internal-links a:visited {

}

nav#nav-internal-links a:hover,
nav#nav-internal-links a:active {

}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 720px;
  background: #5F5F5F
}

a:link, a:visited{
  color: #FFFFB0;
  text-decoration: none;
  transition: color 0.25s
}

a:hover, a:active {
  color: #FFFFD0
}

p {
  margin: 0 24px;
  max-width: 720px;
  font-size: 14px;
  text-align: justify
}

hr {
  margin: 12px;
  width: 90%;
  max-width: 600px;
  border-color: #FFFFB0;
}

img {
  border-style: none;
}

section#section-plug-ins h5 {
  margin: 0 auto;
  text-align: center
}

section#section-plug-ins-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center
}

section#section-plug-ins img {
  width: 80px;
  height: 80px;
  display: inline-block
}

nav#nav-external-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 720px;
  background-color: transparent
}

header#header-external-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent
}

header#header-external-links h5 {
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

#section-external-links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 480px
}

img.img-external-link {
  margin: 2px;
  height: 96px;
  width: 100%;
  border: 2px solid #5f5f5f;
  transition: border 0.25s
}

img.img-external-link:hover {
  border: 2px solid #9F9F9F;
}

footer {
  padding: 24px 0;
  background-color: #0F0F0F;
  text-align: center
}

#img-darn-the-end {
  margin: 8px 0
}

#img-web-hit-counter {
  margin: 12px 0
}

@media(max-width: 600px) {
  #img-the-pooper {
    display: none
  }
}

@media(max-width: 360px) {
  header h1 {
    font-size: 1.5em
  }

  header#header-external-links h5 {
    font-size: 8px
  }
}