* {
  margin: 0;
  padding: 0
}

html {
  font-family: Futura, Nunito, Roboto, Verdana, Helvetica
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 18px;
  color: #D7D7D7;
  background-color: #4F4F4F;
  cursor: default
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0F0F0F;
  padding: 8px
}

#img-the-pooper {
  display: inline-block;
}

header h1 {
  margin: auto;
  text-align: center;
  display: inline-block;
}

nav {
  padding: 24px;
  background: #3F3F3F;
}

nav ul li {
  display: inline-block
}

li.link {
  width: 144px;
  margin: 2px;
  padding: 2px;
  color: #000000;
  background: #FFFF00;
  border-radius: 4px;
  display: inline-block;
}

main {
  flex: 1 0 auto;
  background: #5F5F5F;
  padding: 32px;
  margin: auto;
  width: 80%;
}

a, a:visited{
  color: #FFFFB0;
  text-decoration: none;
}

p {
  font-size: 14px;
}

hr {
  border-color: #FFFFB0;
  margin: 12px;
}

img {
  border-style: none;
}

nav#nav-external-links {
  margin: 0 auto;
  max-width: 720px;
  background-color: transparent
}

footer {
  padding: 24px 0;
  background-color: #0F0F0F;
  text-align: center
}

#img-darn-the-end {
  margin: 8px 0;
}

#img-web-hit-counter {
  margin: 12px 0;
}

@media(max-width: 600px) {
  #img-the-pooper {
    display: none
  }
}